

header {
    @include flex-center;
    justify-content: end; 
    height: $header-height;


    nav.nav-right {
        ul {

            display: flex; 
            gap: 16px;
            margin: 16px; 
            list-style: none;

            a {
                text-decoration: none;
                color: white; 

            }

        }

    }

}
