




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif; 
    // font-weight: semi-bold;
    font-weight: regular;
}

main {
    padding: 0 50px;
}




section#intro {

    height: 100vh; 






}
